
.jumbotron {
    margin: 0px auto;
    background:#9575CD ;
    color:floralwhite;
    min-height: 150px;
}

.active {
    background: #4527A0;
}

.mat-toolbar{
    background-color: #7450b4;
}

.mat-button{
    color: black;
}